* {
    box-sizing: border-box;
} 


body h1 {
    font-family: "Spectral", serif;
     font-weight: 400;
      font-style: normal;
}
body p {
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #181919
}
header {
    display: flex;
    background-color: #FFC017;
    justify-content: space-between;
    height: 60px;
    border-bottom: 2px solid;
    border-bottom-color: #19191985;
    padding-inline: 10rem;
}


.contlogo {
    display: flex;
}

.contlogo img  {
    width: 40%;
}


header button {
    background-color: #FFC017;
    border: none;
}


header button:hover {
    background-color:#555757;
    cursor: pointer;
    box-shadow: 0 0 5px #000606, 0 0 15px #ecf3f3, 0 0 25px #838585, 0 0 100px #a2abab;
}
.navbar {
    display: flex;
    align-items: center;
}


.Getstart{
    background-color: black;
    color: white;
    width: 110%;
    border-radius: 20px;
    height: 33px;
    margin-left: 16px;
}

main {
    margin-inline: 100px;
}

section {
    background-color: #FFC017;
    border-bottom: 2px solid;
    border-bottom-color: #19191985;
    display: flex;
    justify-content: space-between;
    padding-left: 10rem;
    
}

.hero {
    padding-block: 2rem;
}
section h1 {
    font-size: 7rem;
    letter-spacing: -0.4rem;
}
section p {
    font-size: 1.5rem;
    padding-top: 32px;
}
section button {
    background-color: #181919;
    color: white;
    width: 40%;
    border-radius: 20px;
    height: 40px;
    border: none;
    margin-top: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;;
}

section button:hover {
    background-color:#555757;
    cursor: pointer;
    box-shadow: 0 0 5px #000606, 0 0 15px #ecf3f3, 0 0 25px #838585, 0 0 100px #a2abab;
}























.hero {
    padding-block: 5rem;
}
main .trend {
    display: flex;
    align-items: center;
    margin-top: 40px;
    font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #191919;
}
article {
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-inline: 40px;
}


.containerarticle {
    width: 33%;
    margin-bottom: 20px;
}


 .containerarticle h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 8px;
    font-size: 0.9rem;

}

.containerarticle img {
    vertical-align: sub;
}



.containerarticle p {
    font-weight: 500;
    margin-top: 8px;
    font-size: 1rem;
    color: #191919;
}
.containerarticle p + p {
    font-weight: 300;
    margin-top: 10px;
    font-size: 1rem;
    color: lightslategray;;
}

.cont1 {
    
    display: flex;
    align-items: center;
    margin-top: 16px;

}
.cont1 img {
    border-radius: 20px;
    width: 8%
}

.cont1 h3 {
    
}
.cont1 p {
    
    font-weight: 800;
    font-size: 1.2rem;
}

.cont1 p +  p {
    font-weight: 400;
}

.containercards {
    display: flex;
    margin-top: 48px;
    flex-direction: column;
}

.firtscard {
    display: flex;
    align-items: center;

}

.containerarticle2 {
    width: 39%;
    margin-bottom: 20px;
}


.containerarticle2 h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 8px;
    font-size: 0.9rem;
    
}

.containerarticle2 p {
    font-weight: 800;
    margin-top: 8px;
    font-size: 1.5rem;
    color: #191919;
}
.containerarticle2 p + p {
    font-weight: 400;
    margin-top: 10px;
    font-size: 1rem;
    color: lightslategray;;
}
.containercards .bookmark {
    margin-left: 450px;
    position: relative;
    bottom: 25px;
}

.imgcard {
    vertical-align: sub;
    width: 58% ;
}


.containercards span {
    background-color: lightgray;
    border-radius: 10px;
    width: 52%;
    padding-left: 8px;
    padding-right: 8px;
}