* {
    box-sizing: border-box;
} 


body h1 {
    font-family: "Spectral", serif;
     font-weight: 400;
      font-style: normal;
}
body p {
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #181919
}
header {
    display: flex;
    background-color: #FFC017;
    justify-content: space-between;
    height: 60px;
    border-bottom: 2px solid;
    border-bottom-color: #19191985;
    padding-inline: 10rem;
    position: sticky;
    top: 0px;
    transition: background-color 0.3s;
    z-index: 999;
}


.scroll {
    background-color: white;
    color: black
  
}




.contlogo {
    display: flex;
}

.contlogo img  {
    width: 40%;
}


header button {
    background-color: transparent;
    border: none;
}


header button:hover {
    background-color: #1b5d5d;
    cursor: pointer;
    border-radius: 20px;
}

.navbar {
    display: flex;
    align-items: center;
}


 .Getstart {
    background-color: black;
    color: white;
    width: 110%;
    border-radius: 20px;
    height: 33px;
    margin-left: 16px;
}


#btngreen {
   background-color: green;
   color: black;

}

main {
    margin-inline: 100px;
}

section {
    background-color: #FFC017;
    border-bottom: 2px solid;
    border-bottom-color: #19191985;
    display: flex;
    justify-content: space-between;
    padding-left: 10rem;
    
}

.hero {
    padding-block: 2rem;
}
section h1 {
    font-size: 7rem;
    letter-spacing: -0.4rem;
}
section p {
    font-size: 1.5rem;
    padding-top: 32px;
}
section button {
    background-color: #181919;
    color: white;
    width: 40%;
    border-radius: 20px;
    height: 40px;
    border: none;
    margin-top: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;;
}

section button:hover {
    background-color:#1b5d5d;
    cursor: pointer;
    box-shadow: 0 0 5px #000606, 0 0 15px #ecf3f3, 0 0 15px #838585, 0 0 20px #A2ABAB;
}



.hero {
    padding-block: 5rem;
}
main .trend {
    display: flex;
    align-items: center;
    margin-top: 40px;
    font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #191919;
  padding-left: 60px;
}
article {
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 60px;
  
}


.bigcontainer {
    display: flex;

}





.containerarticle {
    width: 33%;
    margin-bottom: 20px;
}






.num {
    font-family: sans-serif;
    float: left;
    margin-right: 8px;
    font-size: 1.7rem;
    font-weight: 800;
    color: #e6e7e7;
    letter-spacing: -2px;
    display: flex;
    margin-top: 12px;
}





 .containerarticle h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 8px;
    font-size: 0.9rem;

}

.containerarticle img {
    vertical-align: sub;
}



.containerarticle p {
    font-weight: 500;
    margin-top: 8px;
    font-size: 1rem;
    color: #191919;
}
.containerarticle p + p {
    font-weight: 300;
    margin-top: 10px;
    font-size: 1rem;
    color: lightslategray;;
}

.cont1 {
    
    display: flex;
    align-items: center;
    margin-top: 16px;

}
.cont1 img {
    border-radius: 20px;
    width: 5%
}

.cont1 h3 {
    
}
.cont1 p {
    
    font-weight: 800;
    font-size: 1.2rem;
}

.cont1 p +  p {
    font-weight: 400;
}

.containercards {
    display: flex;
    margin-top: 48px;
    flex-direction: column;
}

.firtscard {
    display: flex;
    align-items: center;
    justify-content: space-between;

}



.firtscard:hover {
    transform: scale(1.1);
    cursor: pointer;
    

}

.containerarticle2 {
    width: 39%;
    margin-bottom: 20px;
}


.containerarticle2 h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 8px;
    font-size: 0.9rem;
    
}

.containerarticle2 p {
    font-weight: 800;
    margin-top: 8px;
    font-size: 1.5rem;
    color: #191919;
}
.containerarticle2 p + p {
    font-weight: 400;
    margin-top: 10px;
    font-size: 1rem;
    color: lightslategray;;
}
.containercards .bookmark {
    margin-left: 450px;
    position: relative;
    bottom: 25px;
}

.imgcard {
    vertical-align: sub;
    width: 58% ;
}


.containercards span {
    background-color: lightgray;
    border-radius: 10px;
    width: 52%;
    padding-left: 8px;
    padding-right: 8px;
}


aside {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    width: 33%;
    align-self: flex-start;
  }
  
  aside p {
    font-size: 1rem;
    display: inline-block;
    margin: 0;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
    font-weight: 700;
    font-style: bold;
  }
  
  .btnright {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  
  .btnright button {
    background-color: white;
    border-color: #7977750f;
    font-size: 0.9rem;
    color: #797775a8;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    margin: 0.3rem;
    font-weight: 600;
    border-radius: 4px;
  }
  



  .btnright button:hover {

    transform: scale(1.1);
  }
  .Link {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
  }
  
  .Link a {
    font-weight: 600;
    margin-top: 1rem;
    margin-right: 1.6rem;
    text-decoration: none;
    font-size: 0.8rem;
    color: #797775c5;
  }
  


  .Link a:hover{
    transform: scale(1.1);
  }

  .stick {
    position: sticky;
    top: 5px;
  }
  